[Unit]

Description=Script that rapidly pings and logs ping results for a list of targets defined by the user

After=network.target


[Service]

Type=simple

ExecStartPre=/usr/bin/python3 /home/PingMaker/PingMakerCleanup.py

ExecStart=/usr/bin/python3 /home/PingMaker/PingMaker.py

[Install]

WantedBy=multi-user.target
